.leNav {
    font-size: 1.9rem;
}

.section__fondo-home {
    background-image: url("./assets/fondoPortafolio2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: sticky;
    display: flex;
}

.imagen__nombre {
    position: absolute;
    top: 20rem;
    left: 20rem;
    height: 20rem;
    width: 35rem;
}

.section__fondo-iconos {
    display: flex;
    position: absolute;
    right: 20rem;
    bottom: 10rem;
    gap: 5rem;
}

.botones {
    width: 15rem;
    height: 4rem;
}

.iconos {
    height: 4vh;
    width: 4vh;
}

.section__botones-content {
    display: flex;
    position: absolute;
    bottom: 45rem;
    left: 20rem;
    gap: 2rem;
}

.section__resumen {
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* background-color: #1f2022fb ; */
    background-color: #0c0c0c;
    height: 100vh;
}

.imagen__perfil {
    width: 50vh;
    height: auto;
}

.section__resumen-text {
    display: flex;
    font-size: 1.8rem;
    width: 90vh;
    flex-flow: row nowrap;
    justify-content: center;
}

.section__resumen-text__title {
    font-size: 4rem;
    padding: 5rem 0;
}

.section__resumen-text__p {
    width: 70vh;
    text-align: justify;
}

.section__resume-flecha {
    position: relative;
    top: 5rem;
    width: 10vh;
    height: 10vh;
    animation: rebote 5s ease 0s infinite normal forwards;
}

.section__proyectos {
    height: 100vh;
    background-color: #262626;

}

.section__proyectos-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.section__proyectos-card {
    width: 60vh;
    background-color: #131313;
    color: white;
    padding: 3rem;
    text-align: justify;
    border-radius: 2rem;
}

.section__proyectos-card img {
    width: 100%;
    border-radius: 1rem;
}

.proyectos__container-card__click {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}

.boton__azul {
    box-shadow: inset 0px -3px 7px 0px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 3px;
    border: 1px solid #4e6096;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.boton__azul:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

#logo__git {
    width: 5vh;
}

@media (max-width: 1560px) {
    .section__botones-content {
        bottom: 25rem;
    }
}

@media (max-width: 1280px) {
    .links:hover {
        background-color: pink;
    }
}

@keyframes rebote {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}